@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: "Poppins", sans-serif;
  --text-color: #ffffff;
  --padding-inline: 20px;
}
.container {
  width: 1180px;
  margin-inline: auto;
  padding-inline: 20px;
}
.flex {
  display: flex;
}
header {
  padding: 40px var(--padding-inline);
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.header-container {
  justify-content: space-between;
  align-items: center;
}
.list-items {
  text-decoration: none;
  list-style: none;
  gap: 50px;
  margin-right: 40px;
}
.list-items li a {
  text-decoration: none;
  color: var(--text-color);
}
/* hero section */
.hero-section {
  /* width: 100%; */
  /* position: relative; */
  padding: 90px var(--padding-inline);
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.hero-section-cont {
  align-items: flex-start;
  justify-content: center;
}
.section-left {
  margin-right: 150px;
  width: 65%;
  position: relative;
}
.section-right {
  width: 35%;
}
.section-left h2 {
  font-size: 44px;
  font-weight: 700;
  font-family: var(--font-family);
  color: var(--text-color);
}
.section-left p {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 30px;
  margin-top: 15px;
}
.section-right img {
  height: 500px;
  width: 300px;
}
.store-img img {
  margin: 50px 20px 50px 0px;
  border-radius: 10px;
}
.svg-wave {
  position: absolute;
  right: 0;
  bottom: -43%;
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}
/* about */
.about {
  position: relative;
  padding: 100px var(--padding-inline);
}
.about-container {
  justify-content: center;
  align-items: center;
}
.about-section {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.line {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
}
.line::after {
  content: "";
  position: absolute;
  top: 166px;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
.heading {
  font-size: 26px;
  font-weight: 600;
  font-family: var(--font-family);
}
.main-heading {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-family);
}
.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: var(--font-family);
}
.options {
  width: 100%;
  padding-top: 80px;
  gap: 40px;
}
.option-section h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}
.option-section i {
  color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  font-size: 70px;
  padding-top: 40px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.option-section i:hover {
  color: #cd9ffa;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  font-size: 70px;
  padding-top: 40px;
  background: #fff;
  border: 2px solid #cd9ffa;
}
.btn {
  margin-top: 70px;
}
.btn a {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family);
  text-decoration: none;
  padding: 15px 40px;
  color: #8e1efc;
  border: 2px solid #8e1efc;
  border-radius: 10px;
}
.btn a:hover {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-family);
  text-decoration: none;
  padding: 15px 40px;
  color: #fff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  border-radius: 10px;
  border: 0px;
}
/* watch video */
/* features */
.features-section {
  padding-top: 80px;
  gap: 80px;
}
.fa,
.icon {
  width: 140px;
  height: 60px;
  color: #8e1efc;
  font-size: 28px;
  border: 1px solid #8e1efc;
  border-radius: 50%;
  padding-top: 13px;
}
.fa,
.icon:hover {
  width: 120px;
  height: 60px;
  color: #fff;
  font-size: 28px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  border-radius: 30%;
  padding-top: 13px;
  border: 0;
}
.para-1 {
  text-align: right;
  font-size: 16px;
  margin-right: 20px;
  line-height: 26px;
}
.para-2 {
  text-align: left;
  font-size: 15px;
  margin-left: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-family);
}
.middle-img img {
  box-shadow: 0 0 15px #cbcbcb;
  background-color: transparent;
  border-radius: 20px;
}
.section {
  margin-top: 100px;
}
.heading-text {
  font-size: 18px;
  font-family: var(--font-family);
  text-align: center;
}
/* our team */
.our-team {
  background-color: #fafafa;
}
.users {
  padding-top: 70px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.user img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.team-heading {
  font-size: 18px;
  color: #8e1efc;
  font-weight: 600;
  font-family: var(--font-family);
  margin-top: 20px;
}
.team-text {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  font-family: var(--font-family);
}
/* testimonial */
.testimonial {
  position: relative;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.testimonial-container {
  margin-top: 50px;
  background-color: #f1f1f1;
  width: 700px;
  height: 350px;
  padding: 40px;
  text-align: left;
  border-radius: 10px;
  position: relative;
}
.test-area {
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 10px solid #fff;
}
.test {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 28px;
  text-align: left;
  margin-left: 30px;
  margin-top: 45px;
}
.author {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family);
  line-height: 30px;
  margin-left: 20px;
  margin-top: 15px;
}
.job-title {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 27px;
  margin-left: 35px;
  margin-top: 3px;
  color: #8e1efc;
}
.arrow-icon i {
  color: #fff;
  margin: 140px 80px 0px 80px;
}
#prevButton {
  position: absolute;
  top: 40%;
  left: 7%;
}
#nextButton {
  position: absolute;
  left: 77%;
  top: 40%;
}
.btns {
  justify-content: space-between;
  align-items: center;
}
/* faqs */
.faqs {
  position: relative;
  padding-top: 70px;
}
.faqs-container {
  width: 960px;
}
.faqs-section {
  gap: 80px;
  text-align: left;
}
.faqs-heading {
  color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.faqs-text {
  color: #000;
  padding-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
}
.line-faqs {
  height: 2px;
  width: 50px;
  background: #8e1efc;
  display: block;
  margin: 20px auto 20px;
}
.line-faqs::after {
  content: "";
  position: absolute;
  top: 136px;
  left: 50%;
  width: 150px;
  height: 2px;
  border-bottom: 2px dashed #8e1efc;
  margin-left: -75px;
}
/* contact us */
.contact-us {
  position: relative;
}
.contact-info {
  gap: 50px;
}
.contact-form {
  gap: 50px;
  padding-top: 70px;
}
.name-input {
  width: 50%;
  padding: 15px 15px 15px 20px;
  border-radius: 100px;
  outline: none;
  border: 2px solid #cac6c6;
}
.email-input {
  width: 45%;
  padding: 15px 15px 15px 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 100px;
  outline: none;
  border: 2px solid #cac6c6;
}
.form textarea,
button,
#subject {
  width: 100%;
  padding: 15px 15px 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #cac6c6;
}
#subject {
  border-radius: 100px;
}
button {
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  border: 0;
  outline: 0;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-family);
  border-radius: 100px;
}
button:hover {
  background: #fff;
  border: 1px solid #7a60ff;
  outline: 0;
  color: #7a60ff;
  font-size: 16px;
  font-family: var(--font-family);
  border-radius: 100px;
}
.location {
  padding: 0px 30px;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.contact-details {
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-details i {
  color: #fff;
  font-size: 22px;
}
.contact-details,
.form-heading {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
}
.form-text {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  font-family: var(--font-family);
}
.form-details {
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}
.last-child {
  padding-bottom: 0px;
}
/* footer */
footer {
  position: relative;
  padding: 100px 0px 50px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
.sub-ftr {
  padding: 20px 0px;
  font-size: 16px;
  text-align: center;
  font-family: var(--font-family);
}

/* Responsive */
/* @media (max-width: 768px) {
  .hero,
  header,
  .testimonial,
  .our-team,
  footer {
    width: 1200px;
  }
  .svg-wave {
    position: absolute;
    right: 0;
    bottom: -58.5%;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .hero,
  header,
  .testimonial,
  .our-team,
  footer {
    width: 1200px;
  }
  .svg-wave {
    position: absolute;
    right: 0;
    bottom: -58.5%;
    width: 100%;
  }
} */

@media (max-width: 700px) {
}
